<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="toulouse">
  <link name="base_link">
  </link>

  <link name="base_footprint">
  </link>

  <joint name="base_lidar_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0.25"/>
  </joint>

  <link name="laser_frame">
  </link>

  <joint name="base_laser_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="laser_frame"/>
    <origin xyz="0 0 0.2"/>
  </joint>

</robot>
