<launch>
    
    <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch it  -->
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="/front_left_wheel/control_effort/data /front_left_wheel/state/data
     /front_left_wheel/setpoint/data" />

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

    <node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" />
</launch>
