<launch>

   <arg name="use_lidar" default="true" />
   <arg name="autonomous_mode" default="true" />
   <arg name="launch_battery_monitor" default="false" />
   <arg name="wheel_namespace" default="wheels" />
   <arg name="wheel_config_type" default="differential_drive" />
   <arg name="speed_controller_loop_rate" default="10.0" />

   

  <param name="wheel_namespace" type="str" value="$(arg wheel_namespace)" />
  <param name="wheel_config_type" type="str" value="$(arg wheel_config_type)" />
  <param name="speed_controller_loop_rate" type="double" value="$(arg speed_controller_loop_rate)" />
  <param name="speed_controller_use_pid" type="bool" value="false" />

  <env name="ROSCONSOLE_CONFIG_FILE"
        value="$(find toulouse_rover)/param/rosconsole.config"/>

  <node pkg="i2cpwm_board" name="i2cpwm_board" type="i2cpwm_board">
  </node>

  <node pkg="rosserial_python" name="serial_node" type="serial_node.py" if="$(arg launch_battery_monitor)" output="screen" args="_port:=/dev/ttyUSB0 _baud:=57600">
  </node>
  
  <node pkg="toulouse_rover" name="wheel_speed_calculator_node" type="wheel_speed_calculator_node"  output="screen"> </node>

  <node pkg="toulouse_rover" name="wheel_speed_controller_node" type="wheel_speed_controller_node"  output="screen"> </node>

  <node pkg="toulouse_rover" name="odom_calculator_node" type="odom_calculator_node"  output="screen"> </node>

  <!-- -->
  <include file="$(find ydlidar_ros)/launch/X4.launch" if="$(arg use_lidar)"/>

  <!-- loading urdf model of robot -->
  <param name="robot_description" textfile="$(find toulouse_rover)/urdf/toulouse.urdf.xacro"/>
  
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />


  <!-- Run the map server -->  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find toulouse_rover)/maps/map_mz_room.yaml" if="$(arg autonomous_mode)" /> 
  <!-- useful for building a map off of lidar data
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="scan:=scan"/>
 -->
  <!-- Run AMCL  -->
  <include file="$(find amcl)/examples/amcl_diff.launch" if="$(arg autonomous_mode)"  >
  </include> 

 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" if="$(arg autonomous_mode)">
    <rosparam file="$(find toulouse_rover)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find toulouse_rover)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find toulouse_rover)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find toulouse_rover)/param/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find toulouse_rover)/param/base_local_planner_params.yaml" command="load" />
 </node>


</launch>
